<launch>   
    <!-- name of the "camera" -->
    <arg name="camera" value="camera"/> 
    <!-- name of the root frame -->
    <arg name="frame" value="camera_pose"/> 

    <!-- device_id can have the following formats:
         "B00367707227042B": Use device with given serial number
         "#1"              : Use first device found
         "2@3"             : Use device on USB bus 2, address 3
	 "2@0"             : Use first device found on USB bus 2
         "0"               : Use first device enumerated by the OpenNI driver
         "1"               : Use second device enumerated by the OpenNI driver
         "Path/to/onifile/some.oni" : Use ONI file
         This can also be the serial number of the top Kinect - gathered via "lsusb -v"
         ______________________________________________________________________   
    -->
    <arg name="deviceID"/> 
 
 
   <!--  rosrun pcl_ros pointcloud_to_pcd input:=headcam/depth_registered/points/ -->


    <node name="ros_dumper" pkg="ros_dumper" type="run_it.sh" required="true" output="screen" cwd="node"> 
      <param name="camera" value="$(arg camera)" /> 
      <param name="frame" value="$(arg frame)" /> 
      <param name="fromRGBTopic" value="$(arg fromRGBTopic)" /> 
      <param name="fromDepthTopic" value="$(arg fromDepthTopic)" />  
      <param name="highRate" value="50" /> 
      <param name="midRate" value="15" /> 
      <param name="lowRate" value="5" /> 
      <param name="useSkeleton" value="0" />  
    </node>  
 

</launch>
