<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="EditorFrame">
		<title>RGBDAcquisition Editor </title>
		<size>1487,608</size>
		<object class="wxSlider" name="ID_SLIDER1" variable="FrameSlider" member="yes">
			<max>10000</max>
			<pos>8,504</pos>
			<size>1296,22</size>
			<handler function="OnFrameSliderCmdScroll" entry="EVT_COMMAND_SCROLL" />
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBoxVideoFeed" member="yes">
			<label>Video Feed</label>
			<pos>8,0</pos>
			<size>1304,504</size>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
			<label>Elements</label>
			<pos>1312,0</pos>
			<size>172,504</size>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="buttonPreviousFrame" member="yes">
			<label>&lt;</label>
			<pos>8,524</pos>
			<size>56,27</size>
			<handler function="OnbuttonPreviousFrameClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="buttonPlay" member="yes">
			<label>Play</label>
			<pos>64,524</pos>
			<handler function="OnbuttonPlayClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON3" variable="buttonStop" member="yes">
			<label>Stop</label>
			<pos>150,524</pos>
			<handler function="OnbuttonStopClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON4" variable="buttonNextFrame" member="yes">
			<label>&gt;</label>
			<pos>236,524</pos>
			<size>56,27</size>
			<handler function="OnbuttonNextFrameClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticTextJumpTo" member="yes">
			<label>Jump To : </label>
			<pos>408,528</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="currentFrameTextCtrl" member="yes">
			<value>0</value>
			<pos>472,524</pos>
			<style>wxTE_PROCESS_ENTER|wxNO_FULL_REPAINT_ON_RESIZE</style>
			<handler function="OncurrentFrameTextCtrlText" entry="EVT_TEXT" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="dashForFramesRemainingLabel" member="yes">
			<label>/ </label>
			<pos>560,528</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="totalFramesLabel" member="yes">
			<label>?</label>
			<pos>576,528</pos>
		</object>
		<object class="wxButton" name="ID_BUTTON5" variable="ButtonSegmentation" member="yes">
			<label>Segmentation</label>
			<pos>856,524</pos>
			<handler function="OnButtonSegmentationClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON6" variable="ButtonCalibration" member="yes">
			<label>Calibration</label>
			<pos>608,524</pos>
			<handler function="OnButtonCalibrationClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON7" variable="buttonRecord" member="yes">
			<label>Record</label>
			<pos>304,524</pos>
			<handler function="OnbuttonRecordClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON8" variable="ButtonAcquisitionGraph" member="yes">
			<label>Stream Connections</label>
			<pos>696,524</pos>
			<handler function="OnButtonAcquisitionGraphClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxListCtrl" name="ID_LISTCTRL1" variable="ListCtrlPoints" member="yes">
			<pos>1320,24</pos>
			<size>152,168</size>
			<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxRAISED_BORDER|wxVSCROLL</style>
		</object>
		<object class="wxButton" name="ID_BUTTON9" variable="ButtonAdd" member="yes">
			<label>+</label>
			<pos>1320,192</pos>
			<size>40,29</size>
			<handler function="OnButtonAddClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON10" variable="ButtonRemove" member="yes">
			<label>-</label>
			<pos>1360,192</pos>
			<size>40,29</size>
			<handler function="OnButtonRemoveClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON11" variable="ButtonExecute" member="yes">
			<label>=</label>
			<pos>1408,192</pos>
			<size>64,29</size>
			<handler function="OnButtonExecuteClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBoxOverlay" member="yes">
			<label>Overlay Active</label>
			<pos>976,528</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrlDirectCommand" member="yes">
			<value>print</value>
			<pos>1320,228</pos>
			<size>120,27</size>
			<style>wxTE_PROCESS_ENTER</style>
		</object>
		<object class="wxButton" name="ID_BUTTON13" variable="ButtonSendDirectCommand" member="yes">
			<label>&gt;</label>
			<pos>1440,228</pos>
			<size>29,29</size>
			<handler function="OnButtonSendDirectCommandClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBoxOverlayDepth" member="yes">
			<label>Overlay Respect Depth</label>
			<pos>1104,528</pos>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX3" variable="CheckBoxPluginProc" member="yes">
			<label>PlugIn Proc</label>
			<pos>1304,528</pos>
		</object>
		<object class="wxButton" name="ID_BUTTON14" variable="ButtonAF" member="yes">
			<label>AF</label>
			<pos>1416,524</pos>
			<size>37,29</size>
			<handler function="OnButtonAFClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxSlider" name="ID_SLIDER2" variable="OverlaySlider" member="yes">
			<value>50</value>
			<pos>976,544</pos>
			<size>312,27</size>
		</object>
		<object class="wxButton" name="ID_BUTTON12" variable="ButtonPlusXPos" member="yes">
			<label>+</label>
			<pos>1328,296</pos>
			<size>24,24</size>
			<handler function="OnButtonPlusXPosClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText1" member="yes">
			<label>X Pos</label>
			<pos>1360,300</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText2" member="yes">
			<label>Y Pos</label>
			<pos>1360,324</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText3" member="yes">
			<label>Z Pos</label>
			<pos>1360,348</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText4" member="yes">
			<label>X Rot</label>
			<pos>1360,380</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText5" member="yes">
			<label>Y Rot</label>
			<pos>1360,404</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText6" member="yes">
			<label>Z Rot</label>
			<pos>1360,428</pos>
		</object>
		<object class="wxButton" name="ID_BUTTON15" variable="ButtonMinusPosX" member="yes">
			<label>-</label>
			<pos>1400,296</pos>
			<size>24,24</size>
			<handler function="OnButtonMinusPosXClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON16" variable="ButtonMinusPosY" member="yes">
			<label>-</label>
			<pos>1400,320</pos>
			<size>24,24</size>
			<handler function="OnButtonMinusPosYClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON17" variable="ButtonMinusPosZ" member="yes">
			<label>-</label>
			<pos>1400,344</pos>
			<size>24,24</size>
			<handler function="OnButtonMinusPosZClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON18" variable="ButtonPlusPosY" member="yes">
			<label>+</label>
			<pos>1328,320</pos>
			<size>24,24</size>
			<handler function="OnButtonPlusPosYClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON19" variable="ButtonPlusPosZ" member="yes">
			<label>+</label>
			<pos>1328,344</pos>
			<size>24,24</size>
			<handler function="OnButtonPlusPosZClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
			<pos>1312,256</pos>
			<size>176,16</size>
		</object>
		<object class="wxButton" name="ID_BUTTON20" variable="ButtonPrev3DObj" member="yes">
			<label>&lt;</label>
			<pos>1328,264</pos>
			<size>30,24</size>
			<handler function="OnButtonPrev3DObjClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText7" member="yes">
			<label>3D Object</label>
			<pos>1366,268</pos>
		</object>
		<object class="wxButton" name="ID_BUTTON21" variable="ButtonNext3DObj" member="yes">
			<label>&gt;</label>
			<pos>1440,264</pos>
			<size>30,24</size>
			<handler function="OnButtonNext3DObjClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON22" variable="ButtonMinusRotX" member="yes">
			<label>-</label>
			<pos>1400,376</pos>
			<size>24,24</size>
			<handler function="OnButtonMinusRotXClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON23" variable="ButtonMinusRotY" member="yes">
			<label>-</label>
			<pos>1400,400</pos>
			<size>24,24</size>
			<handler function="OnButtonMinusRotYClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON24" variable="ButtonMinusRotZ" member="yes">
			<label>-</label>
			<pos>1400,424</pos>
			<size>24,24</size>
			<handler function="OnButtonMinusRotZClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON25" variable="ButtonPlusRotX" member="yes">
			<label>+</label>
			<pos>1328,376</pos>
			<size>24,24</size>
			<handler function="OnButtonPlusRotXClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON26" variable="ButtonPlusRotY" member="yes">
			<label>+</label>
			<pos>1328,400</pos>
			<size>24,24</size>
			<handler function="OnButtonPlusRotYClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON27" variable="ButtonPlusRotZ" member="yes">
			<label>+</label>
			<pos>1328,424</pos>
			<size>24,24</size>
			<handler function="OnButtonPlusRotZClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUOPENMODULE" variable="MenuItem6" member="yes">
					<label>Open Module</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUSAVEPAIR" variable="MenuItem9" member="yes">
					<label>Save Pair</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUSAVEDEPTH" variable="MenuItem5" member="yes">
					<label>Save Depth Frame</label>
					<enabled>0</enabled>
				</object>
				<object class="wxMenuItem" name="ID_MENUSAVEPCD" variable="MenuItem4" member="yes">
					<label>Save Frame as PCD</label>
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>Module</label>
				<object class="wxMenuItem" name="ID_MENUSEGMENTATION" variable="MenuItem3" member="yes">
					<label>Segmentation</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUGETEXTRINSICS" variable="MenuItem7" member="yes">
					<label>Get Extrinsics</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUDETECTFEATURES" variable="MenuItem8" member="yes">
					<label>Detect Features</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUOVERLAYEDITOR" variable="MenuItem10" member="yes">
					<label>Overlay Editor</label>
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="Status" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="Timer" member="yes">
			<interval>33</interval>
			<handler function="OnTimerTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
