<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SelectCalibration">
		<size>501,600</size>
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
			<label>Intrinsics</label>
			<pos>24,8</pos>
			<size>456,216</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="fxLabel" member="yes">
			<label>Fx : 0.0 </label>
			<pos>384,56</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="camera0" member="yes">
			<value>0.0</value>
			<pos>56,56</pos>
			<size>96,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="camera1" member="yes">
			<value>0.0</value>
			<pos>160,56</pos>
			<size>96,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="camera2" member="yes">
			<value>0.0</value>
			<pos>264,56</pos>
			<size>104,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="camera3" member="yes">
			<value>0.0</value>
			<pos>56,88</pos>
			<size>96,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="camera4" member="yes">
			<value>0.0</value>
			<pos>160,88</pos>
			<size>96,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="camera5" member="yes">
			<value>0.0</value>
			<pos>264,88</pos>
			<size>104,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="camera6" member="yes">
			<value>0.0</value>
			<pos>56,120</pos>
			<size>96,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="camera7" member="yes">
			<value>0.0</value>
			<pos>160,120</pos>
			<size>96,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="camera8" member="yes">
			<value>0.0</value>
			<pos>264,120</pos>
			<size>104,23</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Distortion Coefficients</label>
			<pos>40,152</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL10" variable="k1" member="yes">
			<value>0.0</value>
			<pos>56,176</pos>
			<size>64,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL11" variable="k2" member="yes">
			<value>0.0</value>
			<pos>144,176</pos>
			<size>64,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL12" variable="p1" member="yes">
			<value>0.0</value>
			<pos>224,176</pos>
			<size>64,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL13" variable="p2" member="yes">
			<value>0.0</value>
			<pos>320,176</pos>
			<size>64,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL14" variable="k3" member="yes">
			<value>0.0</value>
			<pos>408,176</pos>
			<size>64,23</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>k1</label>
			<pos>32,178</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>k2</label>
			<pos>128,178</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>p1</label>
			<pos>208,178</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
			<label>p2</label>
			<pos>296,178</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
			<label>k3</label>
			<pos>392,178</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
			<label>Intrinsics Matrix</label>
			<pos>40,32</pos>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
			<label>Extrinsics</label>
			<pos>24,232</pos>
			<size>456,208</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
			<label>Translation</label>
			<pos>48,256</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL15" variable="tX" member="yes">
			<value>0.0</value>
			<pos>48,280</pos>
			<size>72,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL16" variable="tY" member="yes">
			<value>0.0</value>
			<pos>128,280</pos>
			<size>64,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL17" variable="tZ" member="yes">
			<value>0.0</value>
			<pos>200,280</pos>
			<size>72,23</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
			<label>Rotation</label>
			<pos>48,308</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL18" variable="rX" member="yes">
			<value>0.0</value>
			<pos>48,328</pos>
			<size>72,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL19" variable="rY" member="yes">
			<value>0.0</value>
			<pos>128,328</pos>
			<size>64,23</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL20" variable="rZ" member="yes">
			<value>0.0</value>
			<pos>200,328</pos>
			<size>72,23</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT11" variable="fyLabel" member="yes">
			<label>Fy : 0.0</label>
			<pos>384,72</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT12" variable="cxLabel" member="yes">
			<label>Cx : 0.0</label>
			<pos>384,112</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT13" variable="cyLabel" member="yes">
			<label>Cy : 0.0</label>
			<pos>384,128</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticText14" member="yes">
			<label>0.0     0.0      0.0      0.0</label>
			<pos>304,280</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText15" member="yes">
			<label>Generated 4x4 Matrix</label>
			<pos>280,256</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText16" member="yes">
			<label>0.0     0.0      0.0      0.0</label>
			<pos>304,304</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT17" variable="StaticText17" member="yes">
			<label>0.0     0.0      0.0      0.0</label>
			<pos>304,328</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT18" variable="StaticText18" member="yes">
			<label>0.0     0.0      0.0      0.0</label>
			<pos>304,352</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT19" variable="StaticText19" member="yes">
			<label>Scale</label>
			<pos>48,372</pos>
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX1" variable="ComboBoxScale" member="yes">
			<content>
				<item>millimeters</item>
				<item>centimeters</item>
				<item>meters</item>
			</content>
			<selection>2</selection>
			<pos>104,368</pos>
			<size>168,25</size>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="ButtonOk" member="yes">
			<label>Ok</label>
			<pos>152,544</pos>
			<handler function="OnButtonOkClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="ButtonCancel" member="yes">
			<label>Cancel</label>
			<pos>248,544</pos>
			<handler function="OnButtonCancelClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX3" variable="StaticBox3" member="yes">
			<label>Camera Rendering</label>
			<pos>24,448</pos>
			<size>456,88</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT20" variable="StaticText20" member="yes">
			<label>Near/Far Plane for Rendering</label>
			<pos>40,472</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL21" variable="nearPlane" member="yes">
			<value>0</value>
			<pos>256,466</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL22" variable="farPlane" member="yes">
			<value>0</value>
			<pos>352,466</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT21" variable="StaticText21" member="yes">
			<label>Width / Height</label>
			<pos>40,496</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL23" variable="width" member="yes">
			<value>640</value>
			<pos>256,490</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL24" variable="height" member="yes">
			<value>480</value>
			<pos>352,490</pos>
		</object>
	</object>
</wxsmith>
