<launch>   
    <!-- name of the "camera" -->
    <arg name="camera" value="camera/rgb/"/> 
    <!-- name of the root frame -->
    <arg name="frame" value="camera_pose"/>  
  
    <node name="camera_receiver" pkg="camera_receiver" type="run_it.sh" required="true" output="screen" cwd="node"> 
      <param name="server" value="139.91.185.16" /> 
      <param name="port" value="80" />
      <param name="URI" value="/stream/uploads/image.jpg" /> 
      <param name="highRate" value="50" /> 
      <param name="midRate" value="15" /> 
      <param name="lowRate" value="5" />  
    </node>  
 
</launch>
